---
http_interactions:
- request:
    method: get
    uri: https://www.workable.com/spi/v3/accounts/elpassion/jobs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Bearer
      content-type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      status:
      - 401 Unauthorized
      www-authenticate:
      - Bearer realm="Doorkeeper", error="invalid_token", error_description="The access
        token is invalid"
      content-type:
      - application/json; charset=utf-8
      x-iinfo:
      - 10-58898466-58898469 NNNN CT(111 110 0) RT(1485175169295 15) q(0 0 2 1) r(3
        3) U16
      x-cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"error":{"error":{"name":"invalid_token","state":"unauthorized"},"redirect_uri":null,"response_on_fragment":null,"reason":"unknown","description":"The
        access token is invalid"}}}'
  recorded_at: Mon, 23 Jan 2017 12:39:30 GMT
recorded_with: VCR 3.0.3
