---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=animals
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"SB5fjrUhAeLte","url":"http:\/\/giphy.com\/gifs\/dog-hug-SB5fjrUhAeLte","image_original_url":"https:\/\/media1.giphy.com\/media\/SB5fjrUhAeLte\/giphy.gif","image_url":"https:\/\/media1.giphy.com\/media\/SB5fjrUhAeLte\/giphy.gif","image_mp4_url":"https:\/\/media1.giphy.com\/media\/SB5fjrUhAeLte\/giphy.mp4","image_frames":"39","image_width":"300","image_height":"300","fixed_height_downsampled_url":"https:\/\/media1.giphy.com\/media\/SB5fjrUhAeLte\/200_d.gif","fixed_height_downsampled_width":"200","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"https:\/\/media1.giphy.com\/media\/SB5fjrUhAeLte\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"200","fixed_height_small_url":"https:\/\/media1.giphy.com\/media\/SB5fjrUhAeLte\/100.gif","fixed_height_small_still_url":"https:\/\/media1.giphy.com\/media\/SB5fjrUhAeLte\/100_s.gif","fixed_height_small_width":"100","fixed_height_small_height":"100","fixed_width_small_url":"https:\/\/media1.giphy.com\/media\/SB5fjrUhAeLte\/100w.gif","fixed_width_small_still_url":"https:\/\/media1.giphy.com\/media\/SB5fjrUhAeLte\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"100","username":"","caption":""},"meta":{"status":200,"msg":"OK","response_id":"59e723843559676b77081d20"}}'
  recorded_at: Wed, 18 Oct 2017 09:48:52 GMT
recorded_with: VCR 3.0.3
